venv/
__pycache__/
*.pyc
.env
**/.env
.idea/
.vscode/
uploads/


# Terraform
.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*
crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local variables
terraform.tfvars
*.auto.tfvars
