# API
fastapi
uvicorn[standard]

# Baza danych
sqlalchemy
psycopg[binary]
pgvector


# Upload plików
python-multipart
pillow


# OpenAI
openai

# Embeddingi obrazów
sentence-transformers
torch


# Zaladowanie informacji o produktach z systemu zrodlowego
python-dotenv
pymssql

# Pobieranie obrazów z internetu
requests
